body
{
	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.navbar
{
	background-color: #e6ffff;
}
.navbar-brand
{
	color: #323641;
	font-size: 21px;
}

#never-creatives-nav
{
	font-weight: 500;
	color: #323641;
}

#nvr-logo
{
	display: inline-block;
}
.nav-link
{
	color: #323641;
	font-size: 19px;
}

#top-bar
{
	margin-top: 15px;
	max-width: 100%;
}

#navi-top
{
	border-radius: 15px;
}
