body
{
	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.navbar
{
	background-color: #e6ffff;
}
.navbar-brand
{
	color: #323641;
	font-size: 21px;
}

#never-creatives-nav
{
	font-weight: 500;
	color: #323641;
}

#nvr-logo
{
	display: inline-block;
}
.nav-link
{
	color: #323641;
	font-size: 19px;
}

#top-bar
{
	margin-top: 15px;
	max-width: 100%;
}

#navi-top
{
	border-radius: 15px;
}

#carousel-main-container
{
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	max-width: 98%;
	/*background-color: #e6ffff;*/
	background-color: red;
	border-radius: 20px;
}

#carousel-second-container
{
	background-color: #006967;
	border-radius: 20px;
	max-width: 90%;
}

#carousel-third-container
{
	background-color: black;
	display: inline-block;
	vertical-align: middle;

}
#img-1
{
	
}